@import "index.css";

/*Forms*/
form{
	font-size: 1em;
}

form input,form textarea{	
    margin-bottom: 10px;
}

input[type=text]{
	color: #29255F;
	margin-bottom: 10px;
}

input[type=reset], input[type=submit]{
	color: #ffffff;
	background-color:  #29255F;
    border: #29255F 2px solid;
}

input[type=reset]:hover, input[type=submit]:hover{
	background-color:  #ffffff;
    border: #29255F 2px solid;
}

input[type=cancel]{
	color: black;
	background-color:  #6FFFE9;
}



